body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #130661e7;
  color: white;
  padding: 10px 20px;
  position: relative;
  
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  transition: left 0.3s ease;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px 20px;
}

.side-menu ul li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.side-menu ul li a:hover {
  background-color: #e9ecef;
}

.home-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-section {
  max-width: 600px;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-button {
  display: block;
  background-color: #07488d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.home-footer {
  background-color: #130661e7;
  color: white;
  text-align: center;
  padding: 10px;
}