@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body {
    background-color: #bfb9b9bd;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  

.register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-container h2 {
    text-align: center;
  }
  
  .register-container form div {
    margin-bottom: 15px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: #0056b3;
  }
  
  .register-container, .login-container, .home-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .password-container {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Ajustez la valeur pour s'assurer que le texte ne chevauche pas l'icône */
  }
  
  .password-toggle {
    position: absolute;
    right: 10px; /* Distance du bord droit */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  